* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body,
html {
  font-family: "Montserrat", serif;
  color: var(--gray--color);
}

:root {
  --primary-color: #256699 !important;
  --blueLight--color: #0d6efd;
  --white-color: white;
  --light--black: #212529;
  --text-color: rgb(99, 115, 129);
  --white-color: white;
  --gray--color: #bfbfbf;
  --progress--color: #ddf0ed;

  /* font size */

  --small-text-12: 12px;
}
/* colors */
.primary-color {
  background: var(--bs-primary);
}
/* element selector */

/* back-ground color */
.bg--primary {
  background-color: var(--primary-color);
}
.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
a {
  text-decoration: none;
}
h4 {
  color: var(--light--black);
}
img {
  max-width: 100%;
}
/* commom classess */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-content {
  text-align: center;
}

/* color classes */
.progress {
  background-color: var(--progress--color);
}

/* width */
.width-15{
  width: 15%;
}
.max-width--520 {
  max-width: 520px;
}
/* height */
.height-350{
  height: 350px;
}
/* theme styling */

.theme--button {
  background-color: var(--primary-color);
  padding: 15px 20px;
  border-radius: 10px;
  border-width: none;
  border-color: var(--primary-color);
  border: none;
  outline: none;
  color: var(--white-color);
  font-size: 1.05rem;
  font-weight: 500;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* logo images design */

.meta-logo {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  width: 50px;
  height: 50px;
}

/* Login Layout */

.login-logo {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 30px;
  left: 30px;
}

/* login */

.content-link {
  color: var(--blueLight--color);
}

/* verify code */

.code-box {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 2px solid var(--gray--color);
  outline: none;
  transition: border-color 0.3s ease;
}

.code-box:focus {
  border-color: var(--primary-color);
}

/* // DAshBoard Layout */

/* sidebar */

.sidebar-logo {
  width: 100px;
  height: 100px;
}

.drawer-list {
  padding: 20px;
}

.drawer-icons {
  background-color: var(--white-color);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  margin-right: 10px;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.drawer-icons-dark {
  color: var(--gray--color);
}

/* dashboard */
.user-data-card {
  height: 110px;
}
.text-12 {
  font-size: var(--small-text-12);
}

/* //userData */

.flex-items {
  width: 25%;
}

/* profile */
.profile-label{
  position: absolute;
  top: -10px;
  left: 40px;
}


/* // */
/* product collectoin */

.product-img img{
  height: 200px;
  width: 100%;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out; /* Smooth zoom effect */

}

.product-img img:hover {
  transform: scale(1.06); /* Zooms the image */
}
.product-item-img img{
  height: 60%;
  width: 80%;
  border-radius: 5px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out; /* Smooth zoom effect */

}

.size-button{
  width: 40px;
}




